{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <h2>Social Pitches</h2>
                <div id="social">
                    {{ macro.showPitch(social)}}
                </div>
            </div>
            <div class="card">
                <h2>Business Pitches</h2>
                <div id="business">
                    {{ macro.showPitch(business) }}
                </div>
            </div>
            <div class="card">
                <h2>Interview Pitches</h2>
                <div id="interview">
                {{ macro.showPitch(interview) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h2>News Pitches</h2>
                <div id="news">
                {{ macro.showPitch(news) }}
                </div>
            </div>
            <div class="card">
                <h2>Religious Pitches</h2>
                <div id="religion">
                {{ macro.showPitch(religion) }}
                </div>
            </div>
            <div class="card">
                <h2>Sports Pitches</h2>
                <div id="sports">
                {{ macro.showPitch(sports) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <footer class="text-center text-white" style="background-color: rgb(128, 0, 128);">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgb(1, 109, 1);">
      © 2021 Copyright:
      <a class="text-dark" href="https://github.com/albunus/PITCH_APP" target="_blank">alybtush3@gmail.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
{% endblock%}